# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/
.conda/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Runtime outputs
runs/

# Temporary / logs
*.log
*.tmp
~$*
